<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-container">
    <h1 class="login-title">Python Quiz</h1>

    <form method="post">
        <input type="text" name="name" placeholder="Student Name" required>
        <input type="text" name="roll" placeholder="Roll Number" required>
        <input type="text" name="class" placeholder="Class" required>

        <button type="submit">Start Quiz</button>
    </form>
</div>

</body>
</html>
